#Tue, 09 Apr 2013 10:59:42 +0200
app.name=Accessible

app.framework=touch

app.classpath=${app.dir}/app.js,${app.dir}/app

app.build.dir=${workspace.build.dir}/${app.name}

app.cmd.version=3.1.0.256
app.id=abc4a916-6a23-465f-9921-c0d1dccef1d2
