$loading-spinner-color: black;
$base-color: #474e4f;
$active-color: rgba(38, 76, 179, 0.78);

$base-gradient: 'glossy';



@import 'sencha-touch/default/all';


// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-button-ui('greyButton', rgba(50, 55, 56, 0.94), 'glossy');
@include sencha-button-ui('fbButton', rgba(19, 42, 56, 0.93), 'glossy');
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
//@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;